<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">All Entity Objects</ion-title>
        <ion-buttons slot="end">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
        <ion-segment-button value="0">Object</ion-segment-button>
        <ion-segment-button value="1">Type</ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <ion-slides style="height: 100%" #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
        <ion-slide>
            <ng-container>
                <ion-list class="all-list">
                    <ion-item *ngFor="let t of allEntities">
                        <ion-label>
                            <h2><strong>{{t.objName}}</strong></h2>
                            <h2><strong>{{t.objType.typeName}}</strong></h2>
                        </ion-label>
                        <ion-button (click)="deleteItem(t)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
                <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="addItem()">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ng-container>
        </ion-slide>
        <ion-slide>
            <ion-list class="all-list">
                <ion-item *ngFor="let t of allTypes">
                    <ion-label>
                        <h2><strong>{{t.typeName}}</strong></h2>
                    </ion-label>
                    <ion-button (click)="deleteType(t)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="addType()">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>

        </ion-slide>
    </ion-slides>
</ion-content>