ion-segment {
    background: var(--ion-color-primary);
    border: none;
    margin-top: -3px;
    ion-segment-button {
        color: white;
    }
    .segment-button-checked {
        border-bottom: 4px solid #ff9800;
    }
}

ion-slide {
    height: calc(100vh - 140px);
}

.all-list {
    width: 100%;
    height: 100%;
}

.md title-default hydrated {
    text-align: center;
}