<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NFC</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
    <ion-segment-button value="0">Read</ion-segment-button>
    <ion-segment-button value="1">Write</ion-segment-button>
    <ion-segment-button value="2">Other</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides style="height: 100%;" #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>
      <ng-container>
        <ion-list class="all-list">
          <ion-item>
            <ion-avatar>
              <img src="../../assets/icon/serialnumber.svg" />
            </ion-avatar>
            <ion-label>
              <h2><strong>Serial Number</strong></h2>
              <p>34567890-=</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar>
              <img src="../../assets/icon/size.svg" />
            </ion-avatar>
            <ion-label>
              <h2><strong>Size</strong></h2>
              <p>34567890-=</p>
            </ion-label>

            <ion-button fill="clear" (click)="copyText()">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-avatar>
              <img src="../../assets/icon/writeable.svg" />
            </ion-avatar>
            <ion-label>
              <h2><strong>Writable</strong></h2>
              <p>34567890-=</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar>
              <img src="../../assets/icon/lock.svg" />
            </ion-avatar>
            <ion-label>
              <h2><strong>Can be made Read-Only</strong></h2>
              <p>34567890</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar>
              <img src="../../assets/icon/record.svg" />
            </ion-avatar>

            <ion-label>
              <h2><strong>Rocord</strong></h2>
              <p>34567890-=</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-slide>
    <ion-slide> second </ion-slide>
    <ion-slide> third </ion-slide>
  </ion-slides>
</ion-content>
